<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.shopcrud.v3.member.MemberMapper">

    <!-- 회원 정보 저장 -->
    <insert id="saveMember" parameterType="hello.shopcrud.v3.member.MemberDto">
        INSERT INTO member (
            member_id,
            member_pwd,
            member_name,
            member_email,
            member_gender,
            member_birthday,
            member_delete_yn
        ) VALUES (
                     #{memberId},
                     #{memberPwd},
                     #{memberName},
                     #{memberEmail},
                     #{memberGender},
                     #{memberBirthday},
                     0
                 )
    </insert>

    <!--로그인 기능-->
    <select id="loginMember" resultType="hello.shopcrud.v3.member.MemberDto">
        SELECT *
        FROM member
        WHERE member_id = #{memberId} AND member_pwd = #{memberPwd}
    </select>
</mapper>
